name: Onyx Team CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ '*' ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Repository
      uses: actions/checkout@v4
    
    - name: Set up Node.js (version 20)
      uses: actions/setup-node@v4
      with:
        node-version: '20'
        cache: 'npm'

    - name: Clean Install Dependencies (npm ci)
      run: npm ci

    - name: Run ESLint and Type Check
      run: npm run lint

    - name: Verify Production Build
      run: npm run build
